.App {
  text-align: center;
  /* display: flex;
  flex-direction: column; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

footer {
  /* TODO: Something is still wrong with this footer.
  It won't stay at the bottom of the screen when in mobile.
  This really needs to fixed */
  position: absolute;
  /* flex-shrink: 0; */

  /* margin-top: auto; */
  /* bottom:0; */
}